#home
{
	  background-color: ivory;
	  height: 1000px; 
	  margin: 0 auto; 
	  width: 100%; 
	  max-width: 1920px; 
	  position: relative; 
	
}

#home article 
{ 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  font-size:100px;
  color: cadetblue;
}

#about
{
	background-color: mediumaquamarine;
	height: 1000px; 
	margin: 0 auto; 
	width: 100%; 
	max-width: 1920px; 
	position: relative; 
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
	box-shadow: 0 0 50px rgba(0,0,0,0.8);
	
}

#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%; 
  font-size:100px;
  color: antiquewhite;
 }
 
 
a.anchor_home {
display: block;
position: relative;
visibility: hidden;
height: 209px;
margin-top: -248px;

a.anchor_normal{		
display: block;
position: relative;
visibility: hidden;
margin-top: -77px;
height: 67px;
}